/* 
    Document   : colors
    Created on : 25/10/2012, 17:14:14
    Author     : ariel.belloc
    Description:
        Purpose of the stylesheet follows.
*/

/*******
* MENU *
*******/
    .color-text-menu { 
        color:#FFF;
    }

    .color-bg-menu { 
        background:#0c9ba0;
    }

    .color-border-menu { 
        background-color: #555555
    }