/**********
* GENERAL *
**********/
    nav {
        height: 40px;
        width: 100%;
    }

/***********
* MENU nav *
***********/
/*
Author        : Josue Ochoa
Original code : http://web.tursos.com/tutoriales/html-css/como-hacer-un-menu-desplegable-multinivel-usando-solo-css
*/

    .nav p,
    .nav a {
        font-family:sans-serif;
        list-style:none;
        text-decoration:none;
        margin:0;
        padding:0;
    }

    .nav > li {
        float:left;
    }

    .nav li p,
    .nav li a {
        background:#0c9ba0;
        color:#FFF;
        display:block;
        border:1px solid;
        padding:10px 12px;
    }

    .nav li p:hover,
    .nav li a:hover {
        background:#0fbfc6;
    }

    .nav li {
        position:relative;
    }

    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }

    .nav li:hover > ul {
        display:block;
    }

    .nav li ul li ul {
        right:-140px;
        top:0;
    }

/***************
* MENU my-menu *
***************/
/*
Author        : JMiur
Original code : http://vagabundia.blogspot.com/2012/05/simple-menu-desplegable-con-css.html
*/

    .my-menu  {
        border-radius: 5px;
        list-style-type: none;
        margin: 0 auto; /* si queremos centrarlo */
        padding: 0;
        /* la altura y su ancho dependerán de los textos */
        height: 40px; 
        width: 510px;
        /* el color de fondo */
        background: #555;
        background: -moz-linear-gradient(#555,#222);
        background: -webkit-linear-gradient(#555,#222);
        background: -o-linear-gradient(#555,#222);
        background: -ms-linear-gradient(#555,#222);
        background: linear-gradient(#555,#222);
    }

    /* each item of the menu*/
    .my-menu  li {
        display: block;
        float: left; /* la lista se ve horizontal */
        height: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .my-menu li p,
    .my-menu li a {
        border-left: 1px solid #000;
        border-right: 1px solid #666;
        color: #EEE;
        display: block;
        font-family: Tahoma;
        font-size: 13px;
        font-weight: bold;
        line-height: 28px;
        padding: 0 14px;
        margin: 6px 0;
        text-decoration: none;
        /* animamos el cambio de color de los textos */
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
    }

    /* Delete border of first item */
    .my-menu li:first-child p,
    .my-menu li:first-child a {
        border-left: none;
    }

    /* Delete border of last item */
    .my-menu li:last-child p,
    .my-menu li:last-child a {
        border-right: none;
    }

    /* Change color on hover */
    .my-menu li:hover > p,
    .my-menu li:hover > a {
        color: Crimson;
    }

    /* Submenús */
    .my-menu ul {
        border-radius: 0 0 5px 5px;
        left: 0;
        margin: 0;
        
        opacity: 0; /* no son visibles */
        
        position: absolute;
        top: 40px; /* se ubican debajo del enlace principal */
        /* el color de fondo */
        background: #222;
        background: -moz-linear-gradient(#222,#555);
        background: -webkit-linear-gradient(#22,#555);
        background: -o-linear-gradient(#222,#555);
        background: -ms-linear-gradient(#222,#555);
        background: linear-gradient(#222,#555);
        /* animamos su visibildiad */
        -moz-transition: opacity .25s ease .1s;
        -webkit-transition: opacity .25s ease .1s;
        -o-transition: opacity .25s ease .1s;
        -ms-transition: opacity .25s ease .1s;
        transition: opacity .25s ease .1s;
    }

    /* Show items on hover */
    .my-menu li:hover > ul {
        opacity: 1;
    }

    /* Each item of submenu*/
    .my-menu ul li {
        height: 0; /* no son visibles */
        overflow: hidden;
        padding: 0;
        /* animamos su visibildiad */
        -moz-transition: height .25s ease .1s;
        -webkit-transition: height .25s ease .1s;
        -o-transition: height .25s ease .1s;
        -ms-transition: height .25s ease .1s;
        transition: height .25s ease .1s;
    }

    .my-menu li:hover > ul li {
        height: 36px;
        overflow: visible;
        padding: 0;
    }

    .my-menu ul li a {
        border: none;
        border-bottom: 1px solid #111;
        margin: 0;
        /* el ancho dependerá de los textos a utilizar */
        padding: 5px 20px;
        width: 100px;
    }

    /* el último n otiene un borde */
    .my-menu ul li:last-child a {
        border: none;
    }
    
    .my-menu li ul li ul {
        right:-140px;
        top:0;
    }
    
/*********************
* MENU standard-menu *
*********************/
/*
Author     : Ariel Belloc
Based code : http://vagabundia.blogspot.com/2012/05/simple-menu-desplegable-con-css.html
*/
    .standard-menu {
        border-radius: 5px;
        list-style-type: none;
        margin: 0 auto; /* Center Menu */
        padding: 0;
        
        /* Modify height and width with your text size */
        height: 40px; 
        width: 510px;
        
        /* Background color */
        background: #555;
        background: -moz-linear-gradient(#555,#222);
        background: -webkit-linear-gradient(#555,#222);
        background: -o-linear-gradient(#555,#222);
        background: -ms-linear-gradient(#555,#222);
        background: linear-gradient(#555,#222);
    }
    .standard-menu p,
    .standard-menu a {
        font-family:sans-serif;
        list-style:none;
        text-decoration:none;
        margin:0;
        padding:0;
    }

    .standard-menu > li {
        float:left;
    }

    .standard-menu li p,
    .standard-menu li a {
        
        border-left: 1px solid #000;
        border-right: 1px solid #666;
        color: #EEE;
        display: block;
        font-family: Tahoma;
        font-size: 13px;
        font-weight: bold;
        line-height: 28px;
        padding: 0 14px;
        margin: 6px 0;
        text-decoration: none;

        /* color text change animation */
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
    }

        /* Delete border of first and last child */
        .standard-menu li:first-child a {
            border-left: none;
        }
        .standard-menu li:last-child a{
            border-right: none;
        }
  
    .standard-menu li p:hover,
    .standard-menu li a:hover {
        color: Crimson;
    }

    .standard-menu li {
        position:relative;
    }

    .standard-menu li ul {
    border-radius: 0 0 5px 5px;
    left: 0;
    margin: 0;
    opacity: 0; /* Hide element */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    
    /* Backgorund color */
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -webkit-linear-gradient(#22,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    
    /* Visibility animation */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
        
        /*
        display:none;
        position:absolute;
        min-width:140px;
        */
    }
    
    .standard-menu li ul{
        height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s
    }

    .standard-menu li:hover > ul {
        display:block;
        opacity: 1;
    }

    .standard-menu li ul li ul {
        right:-140px;
        top:0;
    }

/*******************
* MENU custom-menu *
*******************/
/*
Author     : Ariel Belloc
Based code : http://vagabundia.blogspot.com/2012/05/simple-menu-desplegable-con-css.html
*/

/* General */
.custom-menu {
    list-style-type: none;
    margin: 0 auto; /* Center Menu */
    padding: 0;

    /* Modify height and width with your text size */
    height: 40px; 
    width: 100%;

    /* Background color */
    background: #555;
    background: -moz-linear-gradient(#555,#222);
    background: -webkit-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);
}

/* Texts: general params */
.custom-menu p,
.custom-menu a {
    color: #ddd;
    display: block;
    text-decoration: none;
}

/* Texts: hover */
.custom-menu p:hover,
.custom-menu a:hover {
    color: crimson;
    
    /* color text change animation */
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

/* Main Menu */
.custom-menu > li{
    line-height: 40px;
    float: left;
    margin-left: 10px;
    min-width: 140px;
    position: relative;
    text-align: center;
}

/* Drop down menu: General params */
.custom-menu > li ul {
    
    /* Background color */
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -webkit-linear-gradient(#22,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    
    border-radius: 0 0 5px 5px;
    
    display: none;
    min-width: 140px;
    position: absolute;
    
}

/* Drop down menu: Hover */
.custom-menu > li:hover > ul {
    display: block;
}

.custom-menu > li:hover > ul li:last-child {
    padding-bottom: 5px;
}

/* Drop down submenu: General params */
.custom-menu li ul li {
    position: relative;
    border-top: solid 1px #111;
}

/* Drop down submenu: Hover */
.custom-menu li ul li:hover > ul {
    border-radius: 0 0 5px 5px;
    display: block;
    left: 140px;
    top:0px;
}